.help {
  font-size: 12px;
}

.tags {
  min-height: 150px;
  min-width: 20vw;
  max-width: calc(100vw - 35px);
}

.module {
  padding: 0.5em;
  margin-left: -20px;
  display: inline-block;
  line-height: 40px;
}

.divTable{
  display: table;
}
.divTableRow {
  display: table-row;
}
.divTableHeading {
  background-color: #EEE;
  display: table-header-group;
}
.divTableCell, .divTableHead {
  display: table-cell;
  vertical-align: middle;
}
.divTableHeading {
  background-color: #EEE;
  display: table-header-group;
  font-weight: bold;
}
.divTableFoot {
  background-color: #EEE;
  display: table-footer-group;
  font-weight: bold;
}
.divTableBody {
  display: table-row-group;
}
