.user-container {
  display: flex;
  flex-direction: column;
}

.frontName {
  font-size: 10px;
  margin: 0;
}

.master {
  color: #9d1e15;
}

.help {
  font-size: 12px;
}

.normal {
  font-size: 12px;
}

process {
  line-height:80%;
  font-size: 12px !important;
}

.mat-table {
  background: #fff;
}
mat-footer-row, mat-header-row, mat-row, td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
  border-bottom-color: rgba(0,0,0,.12);
}
.mat-cell, .mat-footer-cell {
  color: #000;
}
.mat-header-cell {
  color: rgba(0,0,0,.7);
}
.mat-header-cell {
  font-size: 12px;
  font-weight: 700;
}
.mat-paginator, .mat-header-row {
  background-color: rgba(0,0,0,.03)
}
.mat-paginator, .mat-paginator-page-size .mat-select-trigger {
  color: rgba(0,0,0,.7);
}
/deep/ .mat-form-field-label {
  color: rgba(0,0,0,.7) !important;
  font-weight: 700 !important;
}
.mat-form-field {
  font-size: 12px;
  margin-left: 10px;
}

/deep/ .mat-elevation-z8 {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 8px 10px 1px rgba(0, 0, 0, 0), 0 3px 14px 2px rgba(0, 0, 0, 0);
}

/deep/ .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #fff !important;
}
/deep/ .mat-select-value, .mat-paginator, .mat-paginator-page-size .mat-select-trigger {
  color: #000 !important;
}
/deep/ .mat-sort-header-arrow {
  color: #000 !important;
}
.mat-row:nth-child(2n+1){
  background-color: rgba(187, 196, 201, 0.16) !important;
}
.mat-row:not(:nth-child(2n+1)){
  background-color:#ffffff !important;
}

/deep/ .mat-list-base .mat-list-item.mat-2-line, .mat-list-base .mat-list-option.mat-2-line {
  /* height: 72px; */
  color: black;
}

::ng-deep .mat-list-base .mat-list-item .mat-list-text, .mat-list-base .mat-list-option .mat-list-text {
  float: left;
  padding: 4px;
}
::ng-deep .mat-list-base .mat-list-item .mat-list-icon, .mat-list-base .mat-list-option .mat-list-icon {
  float: left;
}

::ng-deep .mat-list-base .mat-list-item.mat-2-line, .mat-list-base .mat-list-option.mat-2-line {
  height: auto;
}

::ng-deep .mat-list-base .mat-list-item.mat-list-item-with-avatar, .mat-list-base .mat-list-option.mat-list-item-with-avatar {
  height: auto;
}

/deep/ .mat-list-base .mat-list-item {
  font-size: 14px;
}

/deep/ .mat-list-base .mat-list-item .mat-line:nth-child(n+2) {
  font-size: 10px;
}